body{
    margin: 0px;
    /* padding: 0%; */
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    min-height: 100%;
}
.border{
    text-align: center;
    background-color: #64B5F6;
    padding: 4px;
}
.border>a{
    text-decoration: none;
    color: white
}
.nav img{
    width: 150px;
    margin: 20px 0px 0px 20px;
}



.main{
    display: flex;
    width: 100%;
    position: absolute;
    top:12%;
}
/* left menu css */
.left{
    position: absolute;
    width: 17%;
    background-color: #2B3467;
    border-left: 10px solid #BAD7E9;
    color: white;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.left.active{
    width: 85px;
}
.left div a{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
   
}
.left div a:hover{
    background-color:#BAD7E9;
    color: #2B3467;
}
.icon{
    font-size: 33px;
    
}


/* right section css */

#heading{
    margin: 0 0 0 50px ;
    font-weight: bold;
    font-size: large;
    /* border: solid red; */
}
.right{
    width: 81%;
    /* border:solid #2B3467; */
    position: relative;
    left: 18%;
    transition: 0.5s;
}
/* .right.active{
  
    left: 10%;
    transition: 0.5s;
} */
.upper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-left: 10px;
}

.card{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 180px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* border:solid red */
}
.card:hover{
    background-color: #E3DFFD;
}
.card div:nth-child(2) ion-icon{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.646);
    /* border:solid red; */
}

/*  ************mainsection css*********** */
.mainSec{
    display: flex;
    margin-top: 15px;
}

/* 1st section */
.formfill {
    width: 35%;
    margin:0px 10px 0px 10px ;
    line-height: 40px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #8fc3ed;
    font-weight: bold;
    /* color: white; */
    /* border: solid red; */
    height: 0%;
  }
  .formfill input{
    padding:10px;
    border-radius: 5px;
    border: 0px;
    width: 90%;
  }
  .formfill select {
    padding: 10px;
    width: 55%;
    border-radius: 5px;
    border: 0px;
    margin-left: 10px;
  }
  .formfill button {
    margin-left: 25px;
    padding: 10px;
    border: none;
    margin-top: 50px;
    width:40%;
    border-radius: 25px;
    background-color: white;
    color: #2B3467;
    font-weight: bold;
  }
  .formfill button:hover{
    background-color: #2B3467;
    color: white;
  }

  /* -------------table section css ------------*/
  .parent{
    display: flex;
  }
.table1{
    width: 65%;
    transition: 0.5s;
    /* border: solid red; */
    height: 650px;
    overflow: scroll;
}
.table11{
    /* width: 68%; */
    padding: 15px;
    transition: 0.5s;
   margin-top: 20px;
    height: 650px;
    overflow: scroll;
}


.table12{
    /* border:solid red; */
    margin-top: 30px;
    padding-left: 20px;
    width: 50%;
    transition: 0.5s;
    height: 650px;
}
tbody td{    
    background-color: #E3DFFD;
    padding-left: 10px;
    padding-right:10px ;
    border-radius: 5px;
}
thead td{
    background-color: #2B3467;
    padding: 10px;
    color: white;
    border-radius: 5px;
    position: sticky;
    top:0;
}

.image{
    width: 90px;
}
.imgUser{
    width: 60px;
    border-radius: 50px;
}
.cart{
    /* background-color: #64B5F6; */
    /* border:solid red; */

    display: flex;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: small;
    line-height: 20px;
}
.cart:hover{
    background-color: #d8e0e8;
}

.edit {
    padding: 8px;
    background-color: rgb(25, 174, 248);
    border: 0px;
    color: white;
    border-radius: 5px;
    margin: 10px;
}
.edit:hover{
    background-color: #2b3467d8;
}
.delete:hover{
    background-color: rgb(255, 55, 0);
}

.delete{
    padding: 8px;
    color: white;
    background-color: rgba(255, 68, 0, 0.754);
    border: 0px;
    border-radius: 5px;
}


.logo{
    width: 6px;
    /* margin-top: 0px; */
    border: solid red;
}