@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
a {
  text-decoration: none;
  color: white;
}

.mainbody {
  margin-top: 75px;
}
#subBody{
  width: 95%;
  margin: auto;
}


/* -----------swiper slides------------- */

.swiper {
  width: 100%;
  height: 500px; 
}

.swiper-slide img{
  text-align: center;
  width: 1100px;
  height: 500px;
}
.swiper-slide{
  text-align: center;
}
.swiper-button-prev,.swiper-button-next{
  background-color: #e1e5e7; 
  color: #FFFFFF !important;
  padding: 40px 20px 40px 20px;
  border-radius: 5px;
    
  
}


/* ------------main body---------------- */

.body1 {
  display: flex;
  /* border:solid red */
}

.title{
  font-weight: 100;  
  border-bottom: 0.3px solid rgb(92, 90, 90);
  font-size: 30px;
  margin: 20px 0px 20px 0px;
  width: 40%;

}
.title span{
  color: #2980f3;
  font-size: 35px;
}
#samsung {
  display: flex;
}
#samsung div {
  width: 17%;
  position: absolute;
  margin: 50px 20px 0px 900px;
}
#samsung button {
  background-color: #0046be;
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: 0px;
  margin-top: 40px;
}

.dynamicSec{
  /* border: solid red; */
  /* height: 300px; */
 display: grid; 
 grid-template-columns: repeat(6,1fr);
 gap: 10px;
 text-align: center;
 /* align-items: center; */
}
.dynamicSec img{
  width: 130px;
  /* height: 130px; */
  transition: transform 0.3s;
  margin-bottom: 20px;

}
.dynamicSec img:hover{
  transform: scale(1.1);

}
.headphoneImg{
  width: 130px;
  height: 130px;
}

.dynamicSec div{
  cursor: pointer;
  padding:10px ;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
}
.sec {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  text-align: center;

}
.sec img {
  
  /* border: solid red; */
  width: 300px;
}
.sec div {
  padding: 10px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.sec h3 {
  line-height: 50px;
}

/* ----------------products page ---------------*/
#loader.hide{
    display: none;
}
#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: rgb(255, 255, 255);
    z-index:1;
}
#loader img{
  width: 150px;
}
.homeLoader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: rgb(255, 255, 255);
  z-index:1;
}
.homeLoader img{
  width: 150px;

}
.maincont {
  display: flex;
}
.filter {
  display: flex;
  justify-content: space-evenly;
  /* position: fixed; */
  padding: 10px;
  /* width: 25%; */
  margin-top: 10%;
  /* border: solid red; */
}
.filter select {
  /* margin-top: 10px; */
  font-size: large;
  font-weight: bold;
  /* border: .3px solid black; */
  text-align: center;
  border-radius: 10px;
  background-color: #dfe2e4;
  /* width: 90%; */
  padding: 10px;
  border: none;
  border-bottom: solid rgb(0, 174, 255);
}
#tolItem {
  margin: 120px 500px 20px 20px;
  border-bottom: solid rgba(71, 68, 68, 0.719);
}
.proContainer {
  /* border: solid red; */
  width: 90%;
  margin: auto;
  /* margin-left: 5%; */
  margin-top: 2%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  /* height: 1150px; */
}
.proContainer img {
    width: 150px;
    transition: transform 0.5s;
    /* height: 140px; */
  }
  .proContainer img:hover {
    transform: scale(1.1);
  }
  .imgCard{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 220px;
    /* border:solid red */
  }

  .proContainer>div {
    background-color: #f5f9fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     
  }

  .proContainer button {
    cursor: pointer;
    width: 60%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    background-color:#1CB3C8;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .proContainer button:hover{
    background-color: transparent;
    border: 0.5px solid black;
    color: #000000;
  }

  /* ---------pagination-----------> */
.pageNo {
  display: flex;
  width: 20%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}
.pageNo div {
  cursor: pointer;
  background-color: #ffce00;
  /* border: solid red; */
  font-weight: bold;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 25px;
  border-radius: 5px;
}




/*------------------- cart page----------------- */



.cartContainer {
  /* border: solid red; */
    width: 65%;
    /* margin-left: 5%; */
    gap: 20px;
  }
  .cartContainer img {
    width: 100px;
  }
  .cartContainer > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .cartIn button {
    cursor: pointer;
    background-color: #2980f3;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 8px;
    margin: 5px;
    font-weight: bold;
  }

  .flex{
    display: flex;
   
    justify-content: space-between
  }
  .smallText{
    font-size: 14px;
    font-weight:bold;
    color: #0046be;
  }

.payment {
  line-height: 40px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(231, 235, 239);
  margin-left: 25px;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.payment button {
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  font-weight: bolder;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin: 30px 0px 30px 50px ;
  background-color:#1CB3C8;
  color: rgb(255, 255, 255);
}
.payment button:hover{
  background-color: transparent;
  border: solid black;
  color: #000000;
}
#tol {
  border-top: solid rgba(106, 99, 99, 0.712);
}
#summary {
  border-bottom: solid rgba(106, 99, 99, 0.712);
}

/* ---------------#checkout page----------->*/
#checkout {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 9%;
  width: 40%;
  margin-left: 35%;
  padding: 10px;
  margin-bottom: 5%;
 
}
#checkout input {
  width: 95%;
  padding: 10px;
  margin: 10px;
}
#checkout select {
  width: 90%;
  padding: 10px;
  margin: 10px;
}
#submitCart {
  cursor: pointer;
  width: 80%;
  margin: auto;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color: #ffce00;
  color: black;
}
#submitCart:hover{
  background-color: transparent;
  border: solid black;
}



/* ---------------media query for medium screen------------------ */

@media screen and (min-width:750px) and (max-width:1200px) {
  .swiper {
    /* width: 100%; */
    height: 500px; 
  }
  
  .swiper-slide img{
    text-align: center;
    width:800px;
    height: 500px;
  }
  .dynamicSec{
    grid-template-columns: repeat(3,1fr);
    /* border: solid red; */
   
  }
  .title{
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  .sec p{
    display: none;
  }
  .sec h3{
    line-height: normal;
    /* text-align:start; */
    font-size: 15px;
  }
  .sec img{
    width: 200px;
  }
  #samsung{
    display: none;
  }
  .proContainer{
    /* border:solid red; */
    grid-template-columns: repeat(3,1fr);
  }
  .proContainer img{
    width: 120px;
  }
  .imgCard{
    height: 160px;
  }
  #checkout {
    width: 70%;
    margin: auto;
    margin-top: 15%;
  }
  
  
}


/*----------------media query for small screen--------------------  */

@media screen and (min-width:320px) and (max-width:750px) {
  .swiper {
    height: 320px; 
  }
  
  .swiper-slide img{
    text-align: center;
    width:480px;
    height: 320px;
  }
  .swiper-button-prev,.swiper-button-next{
    padding: 0px;
  }
  .dynamicSec{
    grid-template-columns: repeat(3,1fr);
    /* border: solid red; */
   
  }
  .dynamicSec img{
    width: 100px;
  }
  .dynamicSec p{
    font-size: 15px;
    /* color: red; */
  }
  .title{
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  .title span{
    font-size: 30px;
  }
  .sec img{
    width: 120px;
  }
  .sec p{
    display: none;
  }
  .sec h3{
    line-height: normal;
    /* text-align:start; */
    font-size: 15px;
  }
  #samsung{
    display: none;
  }
  
  .proContainer{
    /* border:solid red; */
    grid-template-columns: repeat(2,1fr);
  }
  .proContainer img{
    width: 100px;
  }
  .imgCard{
    height: 150px;
  }
  .proContainer p{
    font-size: 10px;
  }
  .filter{
    margin-top:20%;
    margin-bottom: 40px;
    padding: 0px;
  }
  .filter select{
    padding: 5px;
    
  }
  /* cart page */
  .maincont{
    flex-direction: column;
  }
  .cartContainer {
    width: 85%;
    margin: auto;
  
  }
  .cartContainer > div{
    flex-direction: column;
    text-align: center;

   
  }
  .cartContainer img{
    margin-left: 30%;
    width: 100px;
    /* border:solid green; */
  }
  .payment{
    width: 85%;
    margin: auto;
  }
  #tolItem{
    width: 85%;
  }
  #checkout {
    width: 90%;
    margin: auto;
    margin-top: 20%;
  }
}