@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap");

#logo{
    width: 200px;
    margin: 8px;
}
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    box-sizing: border-box; 
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
#navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    /* border: solid red; */
}


#upperNav{         
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffffff;
    font-size: 30px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#rightNav{
    display: flex;
    justify-content:space-evenly;
    /* border: solid red; */
    width: 23%;
}
#noOfItems{
    position: absolute;
    margin-top: -10px;
    margin-left: 15px;
    color: #ff0000;
    font-weight:bolder;
    font-size: 15px;
}

.btn{
    cursor: pointer;
    color: #ffffff;
    padding: 8px;
    font-size:18px;
    /* margin-left: 20px; */
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #1CB3C8;            
}
.btn:hover{
    background-color: transparent;
    border: .4px solid black;
    color: black;
}

.menuIcon{
    display: flex; 
    align-items: center
}
#searchContainer{
    display: flex;
    /* border: solid red; */
}
#searchInput{
    background-color: #dae5e6;
    border: none;
    width: 380px;
    padding: 8px;
    border-radius: 8px;

}   
#searchIcon{
    position: absolute;
    margin-left: -45px;
    margin-top: 10px;
    z-index: 1;
    color: #7d8586;
}   

#menuIcon ion-icon,#cart ion-icon,.dropdown-btn ion-icon{
    color: rgb(34, 33, 33);
    cursor: pointer;
    font-size: 30px;
}
#menuIcon ion-icon:hover{
    color: #1CB3C8;
}

#mainMenu {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: fixed;
    width: 100%;
    left: -100%;
    /* top: -150px; Start position off-screen */
    background-color: #e8eaee;
    border-top: solid #e0e3e9;
     top:70px;
    padding: 5px;  
    z-index: 999;
    overflow: hidden;
    transition: left 0.5s ease; /* Add a transition for the 'top' property */
}

#mainMenu.activate {
    display: block;
    margin-bottom: 30px;
    left: 0%;
   
    /* top: 50px; End position */
}
ul{
    cursor: pointer;    
    font-weight: bold;
    /* font-weight:100; */
    font-size: 15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color:#444949;
    
}
ul li:hover{
    /* background-color: #6fc81c; */
    scale: 1.1;

}

/* -------------dropdown---------- */
.dropdown-content{
    display: none;
    position: absolute;
    border-radius: 5px;
    font-size: 22px;
    padding: 5px;
    z-index: 10;
    background-color: #dae5e6;
}
.dropdown-content a, .dropdown-content p{
    cursor: pointer;
    color:black;
    font-size: 20px;
    text-decoration: none;
}
.dropdown-content>div:hover{
    background-color: #2981f3b7;
    /* color: #ffce00; */
}
.dropdown:hover .dropdown-content{
    display: block;
 
}
#adminDashboard{
    display: none;
}
/* ----end---- */

/* ---------------media query for small screeen-------------- */

@media screen and (min-width:320px) and (max-width:750px) {
    #logo{
        width: 180px;
        margin: 5px;
    }
    #searchContainer{
        display: none;
    }
    #rightNav{
        width: 35%;
    }
    ul{
        flex-direction: column;
        line-height: 55px;
        
    }
    #mainMenu {
        /* background-color: #1CB3C8;
        */
        /* border: solid red; */
        width: 50%;
        height: 320px;
        margin-left:50% ;
        top: 70px;

    }
  }